.env
node_modules
dist

# Python venv & caches for mlModel
mlModel/.venv/
mlModel/__pycache__/
mlModel/.idea/
mlModel/.ipynb_checkpoints/

# Python bytecode
*.pyc
__pycache__/

# Backup files
backend/*_backup.js
*_complex_backup.js

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

client_secret_google.json
server.js
vercel.json