.active {
    background-color: #2f395d;
    transition: background-color 0.4s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c86c4;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 0.15rem;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 2px;
    margin: 0;
    border-radius: 0.25rem;
}

nav .logout-btn {
    background: none;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 0.25rem;
    margin-right: 15px;
}

nav ul li a:not(.active):hover {
    background-color: #2f395d;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

nav .logout-btn:hover {
    background-color: #2f395d;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}

@media (max-width: 520px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}